<div class="sport-event-selection">
    <h2>Select Sport Event to View Its Tickets</h2>
    
    <app-filter [filterConfig]="filterConfig" (filterChanged)="onFilterChanged($event)"></app-filter>
  
    <div class="event-cards" *ngIf="!isLoading && dataSource.data.length > 0">
        <mat-card *ngFor="let event of dataSource.data" class="event-card" (click)="selectSportEvent(event.id)">
          <mat-card-title>{{ event.eventName }}</mat-card-title>
          <mat-card-subtitle>{{ event.eventDateTime | date: 'short' }}</mat-card-subtitle>
          <img *ngIf="getPosterImage(event.posterImage) | async as posterUrl" [src]="posterUrl" alt="Poster" class="image" 
          (click)="openImageDialog(posterUrl)" width="200">
          <mat-card-content>
           <p>Arena: {{ event.arenaName }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View Tickets</button>
          </mat-card-actions>
       </mat-card>
    </div>

    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="100" style="margin: 20px auto;"></mat-progress-spinner>

    <div *ngIf="!isLoading && dataSource.data.length === 0">
        <p>No data available</p>
    </div>
  
    <app-paginator 
      [page]="page" 
      [size]="size" 
      [totalElements]="totalElements" 
      (pageChange)="onPageChange($event)" 
      (sizeChange)="onSizeChange($event)">
    </app-paginator>
</div>  