<app-top-bar [showLogout]="false"></app-top-bar>

<div class="register-container">
    <mat-card class="register-card">
        <mat-card-title style="margin: 5px;">{{ 'REGISTRATION_CARD_TITLE' | translate }}</mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="onRegister()" #registerForm="ngForm">
                <mat-form-field appearance="outline" class="form-item">
                    <mat-label>{{ 'EMAIL_LABEL' | translate }}</mat-label>
                    <input matInput type="email" [(ngModel)]="email" name="email" autocomplete="username" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-item">
                    <mat-label>{{ 'PASSWORD_LABEL' | translate }}</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" autocomplete="new-password" required>
                    <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'TOGGLE_PASSWORD_VISIBILITY' | translate">
                        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-item">
                    <mat-label>{{ 'CONFIRM_PASSWORD_LABEL' | translate }}</mat-label>
                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" [(ngModel)]="confirmPassword" name="confirmPassword" autocomplete="new-password" required>
                    <button type="button" mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" [attr.aria-label]="'TOGGLE_PASSWORD_VISIBILITY' | translate">
                        <mat-icon>{{ hideConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                </mat-form-field>

                <div *ngIf="errors.length > 0" class="error-container">
                    <p *ngFor="let error of errors" class="error">{{ error | translate }}</p>
                </div>

                <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">
                    {{ 'REGISTRATION_BUTTON' | translate }}
                </button>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="accent" (click)="navigateToLogin()">
                {{ 'BACK_TO_LOGIN_BUTTON' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</div>