<button mat-raised-button type="button" (click)="toggleFilterForm()" style="margin: 5px;">
    {{ showFilterForm ? 'Hide Filter' : 'Show Filter' }}
</button>

<div *ngIf="showFilterForm" class="filter-form">
  <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
    <mat-form-field>
        <mat-label>Name Sort Order</mat-label>
        <mat-select id="nameSortOrder" formControlName="nameSortOrder">
          <mat-option value="">-- Sorting --</mat-option>
          <mat-option value="ASC">Ascending</mat-option>
          <mat-option value="DESC">Descending</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field>
      <mat-label>Max Rows Number Sort Order</mat-label>
      <mat-select id="maxRowsNumbSortOrder" formControlName="maxRowsNumbSortOrder">
        <mat-option value="">-- Sorting --</mat-option>
        <mat-option value="ASC">Ascending</mat-option>
        <mat-option value="DESC">Descending</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max Seats Number Sort Order</mat-label>
      <mat-select id="maxSeatsNumbSortOrder" formControlName="maxSeatsNumbSortOrder">
        <mat-option value="">-- Sorting --</mat-option>
        <mat-option value="ASC">Ascending</mat-option>
        <mat-option value="DESC">Descending</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Apply Filters</button>
    <button mat-button (click)="resetFilter()">Reset Filters</button>
  </form>  
</div>  