<mat-toolbar color="primary">
    <span>Sport Events List</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="addSportEvent()" style="margin-left: 10px;">Add New Sport Event</button>
  </mat-toolbar>
  
  <app-filter [filterConfig]="filterConfig" (filterChanged)="onFilterChanged($event)"></app-filter>
  
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="loadSportEvents()">
      <ng-container matColumnDef="eventName">
        <mat-header-cell *matHeaderCellDef>Event Name</mat-header-cell>
        <mat-cell *matCellDef="let event">{{ event.eventName }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="eventDateTime">
        <mat-header-cell *matHeaderCellDef>Event Date</mat-header-cell>
        <mat-cell *matCellDef="let event">{{ event.eventDateTime | date: 'short' }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="arena">
        <mat-header-cell *matHeaderCellDef>Arena</mat-header-cell>
        <mat-cell *matCellDef="let event">{{ event.arenaName }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let event">
          <button mat-icon-button (click)="editSportEvent(event)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteSportEvent(event.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="50" style="margin: 20px auto;"></mat-progress-spinner>
  
    <div *ngIf="!isLoading && dataSource.data.length === 0">
      <p style="display: flex; justify-content: center;">No data available</p>
    </div>
  
    <app-paginator 
      [page]="page" 
      [size]="size" 
      [totalElements]="totalElements" 
      (pageChange)="onPageChange($event)" 
      (sizeChange)="onSizeChange($event)">
    </app-paginator>
</div>  