<app-top-bar [title]="'TicketBookingApp'"></app-top-bar>

<div class="purchase-form-container">
    <mat-card class="purchase-card">
        <mat-card-title>{{ 'PURCHASE_PAGE_TITLE' | translate }}</mat-card-title>
  
        <form (ngSubmit)="submitPurchase()">
            <mat-form-field appearance="outline" class="form-item">
                <mat-label>{{ 'PURCHASE_FORM_CARD_NUMBER_LABEL' | translate }}</mat-label>
                <input matInput type="text" id="cardNumber" [(ngModel)]="cardNumber" name="cardNumber" maxlength="16" 
                       [placeholder]="'PURCHASE_FORM_CARD_NUMBER_PLACEHOLDER' | translate" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-item">
                <mat-label>{{ 'PURCHASE_FORM_CARD_EXPIRY_LABEL' | translate }}</mat-label>
                <input matInput type="text" id="cardExpiry" [(ngModel)]="cardExpiry" name="cardExpiry" maxlength="5" 
                       [placeholder]="'PURCHASE_FORM_CARD_EXPIRY_PLACEHOLDER' | translate" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-item">
                <mat-label>{{ 'PURCHASE_FORM_CARD_CVC_LABEL' | translate }}</mat-label>
                <input matInput type="password" id="cardCVC" [(ngModel)]="cardCVC" name="cardCVC" maxlength="3" 
                       [placeholder]="'PURCHASE_FORM_CARD_CVC_PLACEHOLDER' | translate" required>
            </mat-form-field>
  
            <div class="form-actions">
                <button mat-stroked-button type="button" color="warn" (click)="cancel()">
                    {{ 'PURCHASE_FORM_BACK_BUTTON' | translate }}
                </button>
                <button mat-raised-button type="submit" color="primary">
                    {{ 'PURCHASE_FORM_CONFIRM_BUTTON' | translate }}
                </button>
            </div>
        </form>
    </mat-card>
</div>
