<mat-card>
  <form [formGroup]="rowForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
          <mat-label>{{ 'ROW_FORM_ROW_NUMBER_LABEL' | translate }}</mat-label>
          <input matInput id="rowNumber" formControlName="rowNumber" type="number" min="1" required>
          <mat-error *ngIf="rowForm.get('rowNumber')?.hasError('required')">
              {{ 'ROW_FORM_ROW_NUMBER_REQUIRED' | translate }}
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>{{ 'ROW_FORM_SEATS_NUMBER_LABEL' | translate }}</mat-label>
          <input matInput id="seatsNumb" formControlName="seatsNumb" type="number" min="1" required>
          <mat-error *ngIf="rowForm.get('seatsNumb')?.hasError('required')">
              {{ 'ROW_FORM_SEATS_NUMBER_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="rowForm.get('seatsNumb')?.hasError('min')">
              {{ 'ROW_FORM_SEATS_NUMBER_MIN' | translate }}
          </mat-error>
      </mat-form-field>

      <div class="form-buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="rowForm.invalid">
              {{ isEditMode ? ('BUTTON_UPDATE' | translate) : ('BUTTON_CREATE' | translate) }}
          </button>
          <button mat-button type="button" (click)="onCancel()">
              {{ 'BUTTON_CANCEL' | translate }}
          </button>
      </div>
  </form>
</mat-card>