<mat-toolbar color="primary">
  <span>{{ 'SECTORS_LIST_TITLE' | translate }}</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="addSector()" style="margin-left: 10px;">
      {{ 'SECTORS_ADD_BUTTON' | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="goBack()" style="margin-left: 10px;">
      {{ 'SECTORS_BACK_BUTTON' | translate }}
  </button>
</mat-toolbar>

<app-filter [filterConfig]="filterConfig" (filterChanged)="onFilterChanged($event)"></app-filter>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="sectorName">
          <mat-header-cell *matHeaderCellDef>{{ 'SECTORS_TABLE_NAME' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let sector">{{ sector.sectorName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="maxRowsNumb">
          <mat-header-cell *matHeaderCellDef>{{ 'SECTORS_TABLE_MAX_ROWS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let sector">{{ sector.maxRowsNumb }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="availableRowsNumb">
          <mat-header-cell *matHeaderCellDef>{{ 'SECTORS_TABLE_AVAILABLE_ROWS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let sector">{{ sector.availableRowsNumb }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="maxSeatsNumb">
          <mat-header-cell *matHeaderCellDef>{{ 'SECTORS_TABLE_MAX_SEATS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let sector">{{ sector.maxSeatsNumb }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="availableSeatsNumb">
          <mat-header-cell *matHeaderCellDef>{{ 'SECTORS_TABLE_AVAILABLE_SEATS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let sector">{{ sector.availableSeatsNumb }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>{{ 'SECTORS_TABLE_ACTIONS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let sector">
              <button mat-icon-button (click)="editSector(sector)">
                  <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteSector(sector.id)">
                  <mat-icon>delete</mat-icon>
              </button>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="50" style="margin: 20px auto;"></mat-progress-spinner>

  <div style="display: flex; justify-content: center;" *ngIf="!isLoading && dataSource.data.length === 0">
      <p>{{ 'SECTORS_NO_DATA' | translate }}</p>
  </div>

  <app-paginator 
      [page]="page" 
      [size]="size" 
      [totalElements]="totalElements" 
      (pageChange)="onPageChange($event)" 
      (sizeChange)="onSizeChange($event)">
  </app-paginator>
</div>