<!-- arena-form.component.html -->
<mat-card>
    <form [formGroup]="arenaForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput id="name" formControlName="name" required>
        <mat-error *ngIf="arenaForm.get('name')?.hasError('required')">Name is required</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput id="city" formControlName="city" required>
        <mat-error *ngIf="arenaForm.get('city')?.hasError('required')">City is required</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Capacity</mat-label>
        <input matInput id="capacity" formControlName="capacity" type="number" min="1" required>
        <mat-error *ngIf="arenaForm.get('capacity')?.hasError('required')">Capacity is required</mat-error>
        <mat-error *ngIf="arenaForm.get('capacity')?.hasError('min')">Minimum capacity is 1</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>General Seats Number</mat-label>
        <input matInput id="generalSeatsNumb" formControlName="generalSeatsNumb" type="number" required>
        <mat-error *ngIf="arenaForm.get('generalSeatsNumb')?.hasError('required')">General Seats Number is required</mat-error>
      </mat-form-field>
  
      <div class="form-buttons">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-button type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </mat-card>  