<mat-card>
  <form [formGroup]="sectorForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
          <mat-label>{{ 'SECTOR_FORM_NAME_LABEL' | translate }}</mat-label>
          <input matInput id="sectorName" formControlName="sectorName" required>
          <mat-error *ngIf="sectorForm.get('sectorName')?.hasError('required')">
              {{ 'SECTOR_FORM_NAME_REQUIRED' | translate }}
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>{{ 'SECTOR_FORM_MAX_ROWS_LABEL' | translate }}</mat-label>
          <input matInput id="maxRowsNumb" formControlName="maxRowsNumb" type="number" min="1" required>
          <mat-error *ngIf="sectorForm.get('maxRowsNumb')?.hasError('required')">
              {{ 'SECTOR_FORM_MAX_ROWS_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="sectorForm.get('maxRowsNumb')?.hasError('min')">
              {{ 'SECTOR_FORM_MAX_ROWS_MIN' | translate }}
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>{{ 'SECTOR_FORM_MAX_SEATS_LABEL' | translate }}</mat-label>
          <input matInput id="maxSeatsNumb" formControlName="maxSeatsNumb" type="number" min="1" required>
          <mat-error *ngIf="sectorForm.get('maxSeatsNumb')?.hasError('required')">
              {{ 'SECTOR_FORM_MAX_SEATS_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="sectorForm.get('maxSeatsNumb')?.hasError('min')">
              {{ 'SECTOR_FORM_MAX_SEATS_MIN' | translate }}
          </mat-error>
      </mat-form-field>

      <div class="form-buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="sectorForm.invalid">
              {{ isEditMode ? ('BUTTON_UPDATE' | translate) : ('BUTTON_CREATE' | translate) }}
          </button>
          <button mat-button type="button" (click)="onCancel()">
              {{ 'BUTTON_CANCEL' | translate }}
          </button>
      </div>
  </form>
</mat-card>