.status-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #008000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

.language-switch {
    position: absolute;
    top: 4px;
    right: 60px;
    z-index: 1000;
}
  
.language-select {
    color: white;
    border-radius: 4px;
    width: 130px;
}
  
.language-select .mat-form-field-flex {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
  
.language-select .mat-select-arrow {
    color: white;
}
  
.mat-option:hover {
    background-color: #e63939;
    color: white;
}  
  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
 