<button mat-raised-button type="button" (click)="toggleFilterForm()" style="margin: 5px;">
    {{ showFilterForm ? 'Hide Filter' : 'Show Filter' }}
</button>

<div *ngIf="showFilterForm" class="filter-form">
  <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput id="city" formControlName="city">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Capacity Sort Order</mat-label>
      <mat-select id="capacitySortOrder" formControlName="capacitySortOrder">
        <mat-option value="">-- Sorting --</mat-option>
        <mat-option value="ASC">Ascending</mat-option>
        <mat-option value="DESC">Descending</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Seats Number Sort Order</mat-label>
      <mat-select id="seatsNumbSortOrder" formControlName="seatsNumbSortOrder">
        <mat-option value="">-- Sorting --</mat-option>
        <mat-option value="ASC">Ascending</mat-option>
        <mat-option value="DESC">Descending</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Apply Filters</button>
    <button mat-button (click)="resetFilter()">Reset Filters</button>
  </form>  
</div>  