<mat-toolbar color="primary">
  <span>{{ 'ARENAS_LIST_TITLE' | translate }}</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="addArena()" style="margin-left: 10px;">
      {{ 'ARENAS_ADD_BUTTON' | translate }}
  </button>
</mat-toolbar>

<app-filter [filterConfig]="filterConfig" (filterChanged)="onFilterChanged($event)"></app-filter>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="loadArenas()">
      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>{{ 'ARENAS_TABLE_NAME' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let arena">{{ arena.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="city">
          <mat-header-cell *matHeaderCellDef>{{ 'ARENAS_TABLE_CITY' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let arena">{{ arena.city }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="capacity">
          <mat-header-cell *matHeaderCellDef>{{ 'ARENAS_TABLE_CAPACITY' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let arena">{{ arena.capacity }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="generalSeatsNumb">
          <mat-header-cell *matHeaderCellDef>{{ 'ARENAS_TABLE_GENERAL_SEATS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let arena">{{ arena.generalSeatsNumb }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>{{ 'ARENAS_TABLE_ACTIONS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let arena">
              <button mat-icon-button (click)="editArena(arena)">
                  <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteArena(arena.id)">
                  <mat-icon>delete</mat-icon>
              </button>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="50" style="margin: 20px auto;"></mat-progress-spinner>

  <div *ngIf="!isLoading && dataSource.data.length === 0">
      <p style="display: flex; justify-content: center;">
          {{ 'ARENAS_NO_DATA' | translate }}
      </p>
  </div>

  <app-paginator 
      [page]="page" 
      [size]="size" 
      [totalElements]="totalElements" 
      (pageChange)="onPageChange($event)" 
      (sizeChange)="onSizeChange($event)">
  </app-paginator>
</div>