<button mat-raised-button type="button" (click)="toggleFilterForm()" style="margin: 5px;">
  {{ showFilterForm ? ('FILTER_BUTTON_HIDE' | translate) : ('FILTER_BUTTON_SHOW' | translate) }}
</button>

<div *ngIf="showFilterForm" class="filter-form">
  <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
    <ng-container *ngFor="let config of filterConfig">
      <mat-form-field *ngIf="config.type === 'input'">
        <mat-label>{{ config.label }}</mat-label>
        <input matInput [formControlName]="config.formControlName">
      </mat-form-field>
      <mat-form-field *ngIf="config.type === 'select'">
        <mat-label>{{ config.label }}</mat-label>
        <mat-select [formControlName]="config.formControlName">
          <mat-option *ngFor="let option of config.options" [value]="option.value">{{ option.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="config.type === 'date'" appearance="fill">
        <mat-label>{{config.label}}</mat-label>
        <input matInput [matDatepicker]="picker" [formControlName]="config.formControlName">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ng-container>
    <button mat-raised-button color="primary" type="submit">
      {{ 'FILTER_APPLY_BUTTON' | translate }}
    </button>
    <button mat-button type="button" (click)="resetFilter()">
      {{ 'FILTER_RESET_BUTTON' | translate }}
    </button>
  </form>  
</div>  